doctype html
html
  head
    title Hello World
  body
    span#data
    button#send Send a hello world
    script(src='http://code.jquery.com/jquery-2.1.4.min.js')
    script(src='https://omlet.me/a/js/omlet.js')
    script(src='index.js')
